.center-block {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.headerContainer {
  border-radius: 0;
  padding: 1em;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 0;
  height: auto;
}

.loginContainer {
  float: right;
  height: 70px;
  display: flex;
  align-items: center;
}

.loginForm {
  vertical-align: middle;
}
