#main {
  min-width: 250px;
  max-width: 300px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  padding-left: 0 !important;
}

.left {
  padding-right: 0 !important;
}

.btn {
  border-radius: 0;
}



