<div id="main">
  <img style="float:left" src="/app/img/logo.png" alt="No Image Available" class="img-rounded" height="85">
  <form>
    <div class="form-group">
      <!--<label class="sr-only" for="username">Email address</label>-->
      <input type="text"
             [(ngModel)]="model.username"
             [ngModelOptions]="{standalone: true}"
             class="form-control"
             placeholder="username" required>
    </div>
    <div class="form-group">
      <!--<label class="sr-only" for="password">Password</label>-->
      <input type="password"
             [(ngModel)]="model.password"
             [ngModelOptions]="{standalone: true}"
             class="form-control"
             placeholder="password" required>
    </div>
    <div class="row">
      <div class="col-md-6 left">
        <button type="submit"
                (click)="login()"
                class="btn btn-default btn-block btn-success">Login</button>
      </div>
      <div class="col-md-6 right">
        <button type="submit" class="btn btn-default btn-block btn-info" disabled="disabled">Parent Login</button>
      </div>
    </div>
  </form>
</div>
