<nav class="navbar navbar-default headerContainer">
  <div class="container-fluid">
    <div>
      <img style="float:left" src="/app/img/logo.png" alt="No Image Available" class="img-rounded" height="50">
    </div>
    <div class="loginContainer">
      {{title}}
      <div class="loginForm">
        <form class="form-inline">
          <button *ngIf="(user | json) == '{}'" class="btn btn-primary" (click)="login()">Take me to the PRIDE!</button>
          <button *ngIf="(user | json) != '{}'"class="btn btn-primary" (click)="logout()">Logout</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<div class="header-bar"></div>
<router-outlet></router-outlet>
