.headerContainer {
  border-radius: 0;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 0;
  height: 60px;
}

.loginContainer {
  float: right;
  height: 50px;
  display: flex;
  align-items: center;
}

.loginForm {
  vertical-align: middle;
  position:relative;
}



