<nav class="navbar navbar-default login">
  <div class="container-fluid">
    <div>
      <img style="float:left" src="/app/img/logo.png" alt="No Image Available" class="img-rounded" height="70">
    </div>
    <div class="loginForm">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail3">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword3">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
      </form>
    </div>
  </div><!-- /.container-fluid -->
</nav>
