<form class="center-block">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="inputUsername">Username:</label>
        <input type="email" class="form-control" id="inputUsername" placeholder="example@domain.com">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password:</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="password">
      </div>
      <div class="form-group">
        <input type="submit" class="form-control" (click)="submit(inputUsername, inputPassword)">
      </div>
    </div>
    <div class="col-md-6">
      <img src="" class="img-rounded" alt="">
    </div>
  </div>
</form>

